name: Deploy to Firebase Hosting on PR

on: pull_request

jobs:
  build_and_preview:
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version-file: '.node-version'
          cache: npm
          cache-dependency-path: './package-lock.json'

      - name: Package Clean Install
        run: npm ci

      - name: Build
        env:
          VITE_APP_KEY: ${{ secrets.REACT_APP_APP_KEY }}
          VITE_AUTH_DOMAIN: ${{ secrets.REACT_APP_AUTH_DOMAIN }}
          VITE_DATABASE_URL: ${{ secrets.REACT_APP_DATABASE_URL }}
          VITE_PROJECT_ID: ${{ secrets.REACT_APP_PROJECT_ID }}
          VITE_STORAGEBUCKET: ${{ secrets.REACT_APP_STORAGEBUCKET }}
          VITE_MESSAGING_SENDER_ID: ${{ secrets.REACT_APP_MESSAGING_SENDER_ID }}
          VITE_APP_ID: ${{ secrets.REACT_APP_APP_ID }}
          VITE_MEASUREMENT_ID: ${{ secrets.REACT_APP_MEASUREMENT_ID }}
        run: npm run build

      - uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0.10.0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_JIGSAW_LIKE_PUZZLE }}'
          projectId: jigsaw-like-puzzle
